<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#example').DataTable({
                    "searching": false,
                    "lengthChange": false,
                    "paging":   false,
                    "info":     false
                });
            } );
        </script>
        <link rel="shortcut icon" href="todo.png"/>
        <title>To-do List</title>

        <style>
            .app-container {
                height: auto;
                width: 100%;
                margin-top: 100px;
            }
            .complete {
                text-decoration: line-through;
            }
            textarea { 
            resize: none; 
            }
        </style>
    </head>
    <body>
        <div class="app-container d-flex align-items-center justify-content-center flex-column" ng-app="myApp" ng-controller="myController">
            {{ task_name }}
            <h3>Tarefa</h3>
            <div class="d-flex align-items-center mb-3">
                <div class="form-group mr-3 mb-0">
                    <input
                        ng-model="yourTask"
                        type="text"
                        class="form-control"
                        id="formGroupExampleInput"
                        placeholder="Nome da tarefa..."
                    />
                </div>
                {{ task_own }}
                <div class="form-group mr-3 mb-0">
                    <input
                        ng-model="taskOwn"
                        type="text"
                        class="form-control"
                        id="formGroupExampleInput2"
                        placeholder="Nome do responsável..."
                    />
                </div>
                {{ task_pri }}
                <div class="form-group mr-3 mb-0">
                    <select ng-model="taskPri" type="text" class="form-control" id="exampleFormControlSelect1">
                        <option selected>Alta</option>
                        <option>Média</option>
                        <option>Baixa</option>
                    </select>
                </div>
                {{ task_date }}
                <div class="form-group mr-3 mb-0">
                    <input ng-model="taskDate" class="form-control" type="date" >
                </div>
                <button
                    type="button"
                    class="btn btn-primary mr-3"
                    ng-click="saveTask()"
                    >Salvar
                </button>
            </div>
                {{ task_dsc }}
                <div class="form-group mr-3 mb-3">
                    <textarea 
                    ng-model="taskDsc"    
                    class="form-control"
                    type="text"
                    rows="2"
                    cols="50"
                    resize="none"
                    placeholder="Detalhes da tarefa...">
                    </textarea>   
                </div>
            <div class="table-wrapper">
                <table id="example" class="table table-hover table-bordered display">
                <thead>
                    <tr>
                    <th>No.</th>
                    <th>Título</th>
                    <th>Responsável</th>
                    <th>Status</th>
                    <th>Prioridade</th>
                    <th>Expiração</th>
                    <th data-orderable="false">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                    ng-repeat="task in tasks"
                    class="{{ task.status ? 'table-success' : 'table-light' }}"
                    >
                        <td>{{ $index + 1 }}</td>
                        <td class="{{ task.status ? 'complete' : 'task' }}">
                        {{ task.task_name }}</td>
                        <td>{{ task.task_own }}</td>
                        <td>{{ task.status ? "Conluída" : "Em Andamento" }}</td>
                        <td>{{ task.task_pri }}</td>
                        <td id="data5">{{ task.task_date | date: 'dd/MM/yyyy' }}</td>
                        <td>
                        <button class="btn btn-danger" ng-click="delete($index)">
                        Apagar
                        </button>
                        <button class="btn btn-warning" ng-click="edit($index)" data-toggle="modal" data-target="#exampleModal">Editar</button>
                        <button class="btn btn-success" ng-click="finished($index)">
                        Concluir
                        </button>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input
                                type="text"
                                class="form-control mb-2"
                                id="modal1"
                                placeholder="Alterar título..."
                                />
                            <textarea 
                                ng-model="taskDsc"    
                                class="form-control mb-2"
                                type="text"
                                rows="2"
                                cols="50"
                                resize="none"
                                id="modal2"
                                placeholder="Alterar descrição..."></textarea>
                                <input
                                    type="text"
                                    class="form-control mb-2"
                                    id="modal3"
                                    placeholder="Alterar responsável..."
                                />
                                <select ng-model="taskPri" type="text" class="form-control mb-2" id="modal5">
                                    <option>Alta</option>
                                    <option>Média</option>
                                    <option>Baixa</option>
                                </select>
                                <input class="form-control" type="text" id="modal6">
                        </div>
                        <div class="modal-footer">
                            <div id="sucess" class="alert alert-success" role="alert" style="padding: 5px; display: none;" >
                                Alterações realizadas !
                              </div>
                            <button 
                           style="margin-left: 4.3rem" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" ng-click="alterTask($index)">Salvar alterações</button>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Funcionalidades dos botões-->
        <script>
            var modal0 = document.getElementById("modal-title")
            var modal1 = document.getElementById("modal1")
            var modal2 = document.getElementById("modal2")
            var modal3 = document.getElementById("modal3")
            var modal5 = document.getElementById("modal5")
            var modal6 = document.getElementById("modal6")
            var sucess = document.getElementById("sucess")
            
            var app = angular.module("myApp", []);
                app.controller("myController", function($scope) {
                $scope.tasks = [];
                $scope.saved = localStorage.getItem("tasks");
                $scope.tasks =        
                    $scope.saved !== null
                        ? angular.fromJson($scope.saved) : [];            
            
                localStorage.setItem("tasks", angular.toJson($scope.tasks));

            // Botão salvar       
            $scope.saveTask = function() {
                if ($scope.yourTask && $scope.taskOwn && $scope.taskPri && $scope.taskDate != undefined) {
                    $scope.tasks.push({ task_name: $scope.yourTask, task_dsc: $scope.taskDsc, task_own: $scope.taskOwn, status: false, task_pri: $scope.taskPri, task_date: $scope.taskDate });
                    localStorage.setItem("tasks", angular.toJson($scope.tasks));
                    document.location.reload(true)
                } else {
                    window.alert("Preencha todos os campos corretamente!!!")
                }
            };
            
            // Botão apagar
            $scope.delete = function(i) {
            $scope.tasks.splice(i, 1);
            localStorage.setItem("tasks", angular.toJson($scope.tasks));
            document.location.reload(true)
            };

            // Botão concluir
            $scope.finished = function(i) {
            $scope.tasks[i].status = true;
            localStorage.setItem("tasks", angular.toJson($scope.tasks));
            document.location.reload(true)
            };

            // Botão editar
            $scope.edit = function(i) {
                $scope.tasks[i].status = false;
                localStorage.setItem("tasks", angular.toJson($scope.tasks));
                let storageValue = angular.fromJson(localStorage.getItem("tasks"));
                let date = document.getElementById("data5").innerHTML;
                modal0.innerHTML = `Alterar tarefa N°${i+1}`;
                modal1.value = storageValue[i].task_name;
                modal2.value = storageValue[i].task_dsc;
                modal3.value = storageValue[i].task_own;
                modal5.value = storageValue[i].task_pri;
                modal6.value = date;
            };

            // Botão salvar alterações - MODAL
            $scope.alterTask = function() {
                var i = Number(modal0.innerHTML.replace(/\D/gim, ''))-1
                if (modal1.value && modal3.value && modal5.value && modal6.value != "") {
                    $scope.tasks[i].task_name = modal1.value, $scope.tasks[i].task_own = modal3.value, $scope.tasks[i].task_pri = modal5.value, $scope.tasks[i].task_date = modal6.value
                    localStorage.setItem("tasks", angular.toJson($scope.tasks));
                    sucess.style.display = "block"
                    setTimeout(() => sucess.style.display = "none", 1000)
                    setTimeout(() => document.location.reload(true) = "none", 1200)
                } else {
                    window.alert("Preencha todos os campos corretamente!!!")
                }
            };
        });
        </script>
        
        <!--Dependências-->
        
        <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
        ></script>
    </body>
</html>
